@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  color: var(--foreground);
  background: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

html {
  background-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    background: #111827;
    background-color: #111827;
  }
  html {
    background-color: #111827;
  }
}
